/* Устанавливаем черный фон для всего сайта */
body {
  background-color: black;
  color: white; /* Белый цвет текста, чтобы он был виден на черном фоне */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Установка шрифта */
}

/* Если нужно изменить цвет фона в других частях приложения */
.game-area {
  background-color: black; /* Черный фон для области игры */
}
